Cv19SoapClientApplication/src/META-INF/wsdl/localhost_8080/cv19service/Cv19WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Cv19WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/cv19service/Cv19WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertAndUpdateData">
<part name="parameters" element="tns:InsertAndUpdateData"/>
</message>
<message name="InsertAndUpdateDataResponse">
<part name="parameters" element="tns:InsertAndUpdateDataResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="findAllData">
<part name="parameters" element="tns:findAllData"/>
</message>
<message name="findAllDataResponse">
<part name="parameters" element="tns:findAllDataResponse"/>
</message>
<message name="findDataByYearAndWeek">
<part name="parameters" element="tns:findDataByYearAndWeek"/>
</message>
<message name="findDataByYearAndWeekResponse">
<part name="parameters" element="tns:findDataByYearAndWeekResponse"/>
</message>
<message name="findDataByYear">
<part name="parameters" element="tns:findDataByYear"/>
</message>
<message name="findDataByYearResponse">
<part name="parameters" element="tns:findDataByYearResponse"/>
</message>
<portType name="Cv19WebService">
<operation name="InsertAndUpdateData">
<input wsam:Action="http://services/Cv19WebService/InsertAndUpdateDataRequest" message="tns:InsertAndUpdateData"/>
<output wsam:Action="http://services/Cv19WebService/InsertAndUpdateDataResponse" message="tns:InsertAndUpdateDataResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/Cv19WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/Cv19WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="findAllData">
<input wsam:Action="http://services/Cv19WebService/findAllDataRequest" message="tns:findAllData"/>
<output wsam:Action="http://services/Cv19WebService/findAllDataResponse" message="tns:findAllDataResponse"/>
</operation>
<operation name="findDataByYearAndWeek">
<input wsam:Action="http://services/Cv19WebService/findDataByYearAndWeekRequest" message="tns:findDataByYearAndWeek"/>
<output wsam:Action="http://services/Cv19WebService/findDataByYearAndWeekResponse" message="tns:findDataByYearAndWeekResponse"/>
</operation>
<operation name="findDataByYear">
<input wsam:Action="http://services/Cv19WebService/findDataByYearRequest" message="tns:findDataByYear"/>
<output wsam:Action="http://services/Cv19WebService/findDataByYearResponse" message="tns:findDataByYearResponse"/>
</operation>
</portType>
<binding name="Cv19WebServicePortBinding" type="tns:Cv19WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertAndUpdateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDataByYearAndWeek">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDataByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Cv19WebService">
<port name="Cv19WebServicePort" binding="tns:Cv19WebServicePortBinding">
<soap:address location="http://localhost:8080/cv19service/Cv19WebService"/>
</port>
</service>
</definitions>