cv19service/src/conf/xml-resources/web-service-references/RestToSoapWebService_1/wsdl/laptop-e98p778l_8080/Cv19RestToSoapService/RestToSoapWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="RestToSoapWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://laptop-e98p778l:8080/Cv19RestToSoapService/RestToSoapWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getDDCData">
<part name="parameters" element="tns:getDDCData"/>
</message>
<message name="getDDCDataResponse">
<part name="parameters" element="tns:getDDCDataResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="RestToSoapWebService">
<operation name="hello">
<input wsam:Action="http://services/RestToSoapWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/RestToSoapWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getDDCData">
<input wsam:Action="http://services/RestToSoapWebService/getDDCDataRequest" message="tns:getDDCData"/>
<output wsam:Action="http://services/RestToSoapWebService/getDDCDataResponse" message="tns:getDDCDataResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/RestToSoapWebService/getDDCData/Fault/ParseException"/>
</operation>
</portType>
<binding name="RestToSoapWebServicePortBinding" type="tns:RestToSoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDDCData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RestToSoapWebService">
<port name="RestToSoapWebServicePort" binding="tns:RestToSoapWebServicePortBinding">
<soap:address location="http://laptop-e98p778l:8080/Cv19RestToSoapService/RestToSoapWebService"/>
</port>
</service>
</definitions>